.codeclimate.yml
.editorconfig
.eslintignore
.eslintrc.yml
.gitignore
.gitattributes
.npmignore
.gitmodules
.snyk
.travis.yml
.DS_Store
Gruntfile.js

/.idea
/.vscode
/node_modules
/test
/*.tgz
/*.txt
